.jumbotron

  h2
    span.pd-1em.btn-atras
      a.btn.btn-info-mobile.btn-info(href="/")
        i.glyphicon.glyphicon-chevron-left
    | Nuevo proveedor
  hr
  form(role="form")
    .row
      .col-lg-2.col-md-2
      .col-lg-4.col-md-4.col-sm-6
        .form-group
          label(for="inputDireccion") Dirección
          input.form-control(type="text" id="inputDireccion"  ng-model="inputDireccionProveedor" placeholder="Direccion")
      .col-lg-4.col-md-4.col-sm-6
        .form-group
          label(for="inputNombre") Nombre
          input.form-control(type="text" id="inputNombre"  ng-model="inputNombreProveedor" placeholder="Nombre Proveedor")
      
      .col-lg-2.col-md-2

    .row
      .col-lg-2.col-md-2
      .col-lg-4.col-md-4.col-sm-6
        .form-group
          label(for="inputRFC") RFC
          input.form-control(type="text" id="inputRFC"  ng-model="inputRFCProveedor" placeholder="RFC")
      .col-lg-4.col-md-4.col-sm-6
        .form-group
          label(for="inputTel") Telefono
          input.form-control(type="tel" id="inputTel"  ng-model="inputTelefonoProveedor" placeholder="(999)-999999")
      .col-lg-2.col-md-2
    .row
      .col-lg-2.col-md-2
      .col-lg-2
    .row
      .col-lg-2.col-md-2
      .col-lg-8.col-md-8.col-sm-12
        .form-group
          label(for="inputNotas") Notas
          textarea.form-control(type="tel" id="inputNotas"  ng-model="inputNotasProveedor" placeholder="Escribe una nota")
      .col-lg-2.col-md-2
    .row
      .col-lg-2.col-md-2   
      .col-lg-8.col-md-8    
        hr
        .span-footer
            span.pd-1em
              button.btn.btn-success(ng-click="addProvider()") 
                i.glyphicon.glyphicon-floppy-disk
                | Guardar

            span.pd-1em
              button.btn.btn-danger 
                i.glyphicon.glyphicon-refresh
                | Reset
      .col-lg-2  

      

  hr
  h3
    |Lista de proveedores
  .row
    .col-lg-2.col-md-2.col-sm-2
    .col-lg-8.col-md-8.col-sm-8
      table.table.table-bordered.table-highlight
        thead.btn-success
          td Acciones
          td ID
          td Nombre
          td Direccion
          td Telefono
          td Producto
          
        tbody.table-striped
          tr(ng-repeat="lista in providerList | filter:providerNumber") 
            td(style="text-align:center;")
                button.btn.btn-danger.btn-xs(ng-click="removeElement($index)")
                  i.glyphicon.glyphicon-remove
                hr.hr 
                button.btn.btn-info.btn-xs(ng-click="open($index)")
                  i.glyphicon.glyphicon-edit
                  
            td {{lista._id}}
            td {{lista.provider_name}}
            td {{lista.provider_address}}
            td {{lista.provider_telephone}}
            td 
              ul(ng-repeat="producto in lista.product_id")
               li {{producto.product_name}}
            
    .col-lg-2.col-md-2.col-sm-2
  .divEliminar
    h3
      | Elementos a eliminar
    ul(ng-repeat="lista in listToDelete")
      li {{lista._id}} - {{lista.provider_name}} 
        a.btn.btn-warning.btn-xs(ng-click="restoreElement($index)" href="")  Cancelar
      
    
    button.btn.btn-danger.glyphicon.glyphicon-trash(confirmed-click="removeElements()" ng-confirm-click="¿Realmente deseas eliminar los registros?")  Eliminar