[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

body {
    font-size: 1em;
    background: white!important;
}

#cover {
    position:absolute;
    height:100%;
    width:100%;
    background:white;
}

#userInfo {
    float:right;padding:8px;
}

#alertBox {
    position: fixed;
    min-width: 75%;
    left: 50%;
    margin: 0 0 0 -37.5%;
    top: 37.5%;
    z-index: 10000;
}

.fa.fa-twitter {
    color:#00A7E7;
}

.fa.fa-facebook-square {
    color:#3662A0;
}

.fa.fa-google-plus-square {
    color: #D74634;
}

.fade-hide-setup, .fade-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
    opacity:1;
}
.fade-hide-setup.fade-hide-start {
    opacity:0;
}

.fade-show-setup {
    opacity:0;
}
.fade-show-setup.fade-show-start {
    opacity:1;
}

.top-nav>.open>.dropdown-menu{
  background: #008cba!important;
}
.top-nav>li>a{
  color:#fff!important;
}


@media (max-width:560px){
  .btn-atras{
    position:fixed;
    bottom:30px;
    left:37.5%;
    z-index:10;
  }

  .btn-info-mobile{
    height: 60px!important;
    width: 60px!important;
    border-radius: 50%!important;
    background: rgba(0,138,183,0.7)!important;
    line-height: 45px!important;
    color:white;
  }

  
}

@media (max-width: 700px) {
    .ocultar{
      display:none;
    }
    .padding{
      padding:0.5em!important;
    }

    .pd-1em{
      padding:0.2em;
    }

    .span-footer{

    }


}  /*  MAX-WIDTH : 700PX // */

@media (min-width: 700px) {
  

  .oculta{
    display:none;
  }

  .jumbotron{
    background:#555;
  }

  .form-login{
    margin-top:4em;
  }

  .pd-1em{
    padding:0.5em;
  }




 }





 #alertBox{
   margin: 5% 10% 10% -37.5%!important;
 }


.hr{
  margin-top: 5px; 
  margin-bottom: 5px;
}

.controles{
  margin-top: 1em;
  padding: 0.5em;
}

.boton-atras{
  position: fixed;
  top:50%;
  

}


.list-elements{
  margin :0!important;
  padding:0!important;
}
.list-elements li{
  margin: 0.5em 0em;
  list-style: none;
  border: 1px solid #ccc;
  text-align: center;
  padding: 0.2em;
}


.table-products tbody tr td{
  text-align: center;
}


/*

//$scope.removeDuplicate = function(){

       for(var index in $scope.item.product_id){
            for(var i in $scope.productList){
                    console.log($scope.item.product_id[index] +' -- '+ $scope.productList[i]+' ?');
                if($scope.item.product_id[index]._id === $scope.productList[i]._id){
                    $scope.productList.slice(i,1);
                    console.log('Producto repetido');
                    console.log($scope.productList);
                }
            }
        }
    };
    $scope.removeDuplicate ();




*/